%section#section-team.section-padding
  .container
    .row
      .col-md-6
        .section-heading
          %h2.text-center INELEC International S.A.S
          %p{:style => "text-align: justify !important;"} Suministramos soluciones de ingeniería para el manejo, control, generación, transmisión, distribución, variación de potencia eléctrica y sistemas de agitación y mezcla de fluidos, así como sistemas de seguridad perimetral, para el sector petrolero, eléctrico, minero, cementero y en los principales sectores de la industria en Colombia, Ecuador y Venezuela.
          %p{:style => "text-align: justify !important;"} Nuestros productos están a la vanguardia tecnológica, y nuestros servicios se caracterizan por su profesionalismo y experiencia, brindando respuestas integrales en las áreas de confiabilidad del sistema eléctrico, ahorro de energía y calidad de potencia.

      .col-md-6
        .row
          %img{:src => "image/edificio2.png", :alt => "", :class => "img-responsive", :style => "height: 500px;width: 100%;"}
